[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
requests = "*"
schedule = "*"
matplotlib = "*"
apsw = {path = "./../dep/apsw-3.29.0.post1-cp36-cp36m-linux_x86_64.whl"}
pandas = "*"

[requires]
python_version = "3.6"
